<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.ibm.expresshelp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="au.com.ibm.expresshelp.app.ExpressHelpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.apptasks.NeedHelpView"
            android:label="@string/need_help_view_header"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".views.apptasks.SupportView"
            android:label="@string/support_view_header"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".views.apptasks.NeedReliefView"
            android:label="@string/need_relief_view_header"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".views.apptasks.AboutView"
            android:label="@string/about_view_header"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
